.user {
  background: #161616;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1;
  ion-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
    img { width: 3rem;}
  }
}
.month-stats{
  padding: 1rem 1rem 3rem 1rem;
  background: #161616;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .options{
    ion-icon {
      margin-right: .5rem;
    }
    ion-button + ion-button {
      margin-left: 1rem;
    }
  }
  #price{
    font-size: 2rem;
    color: white;
    font-weight: 600;
    span {
      color: var(--ion-color-dark);
    }
  }
}
.products{
  border-radius: 2rem;
  background: white;
  padding: 1rem;
  margin-top: -2rem;
}

ion-button {
  color: white;
}